
@media screen and (max-width:576px) {
   /* default ************** */
    html{
        font-size: 10px;
    }
    .primary-box{
        max-width: calc( 100% - 40px );
        padding: 0 20px;
    }
    /* Navbar************* */
    .navbar{
        flex-direction: column;
        gap: 30px;
    }
    .nav-link{
        flex-direction: column;
    }
    /* banner**************** */
    .banner{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        gap: 3rem;
    }
    .banner-content{
        width: 70%;
        order: 2;
        gap: 0.2rem;
    }

    .banner-images {
        order: 1;
    }
    .banner-btn-container button {
        padding: 21px 30px;
    }
    /* Gamer section *************** */
    .gamer{
        width: 90%;
        grid-template-columns: 1fr;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        
    }
    .gamer-content{
        gap: 1rem;
        text-align: center;
    }
    /* Videos section **************************** */
    .video-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 24px;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
     /* default ************** */
     html{
        font-size: 13px;
    }
    .primary-box{
        max-width: calc( 100% - 60px );
        padding: 0 30px;
    }
    /* Navbar************* */
    .navbar{
        flex-direction: column;
        gap: 30px;
    }
    .nav-link{
        flex-direction: column;
    }
    /* banner**************** */
    .banner{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        gap: 1.5rem;
    }
    .banner-content{
        width: 70%;
        order: 2;
        gap: 0.6rem;
    }

    .banner-images {
        order: 1;
    }
    .banner-btn-container button {
        padding: 21px 35px;
    }
     /* Gamer section *************** */
     .gamer{
        grid-template-columns: 1fr;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        
    }
    .gamer-content{
        gap: 1rem;
        text-align: center;
    }
     /* Videos section **************************** */
     .video-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        gap: 24px;
    }
}